.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1faee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.payment {
  height: 300px;
  width: 300px;
  background-color: #a8dadc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #688283;
  font-size: 1rem;
}

.form-group {
  padding-bottom: 1rem;
}

input {
  width: 15rem;
  padding: .7rem 0.2rem;
  border: none;
  border-radius: 7px;
  font-size: inherit;
}

button{
  background-color: #457b9d;
  color: #f1faee;
  border: none;
  padding: .75rem;
  font-size: inherit;
  border-radius: 7px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.466);
  outline: 0;
}

button:hover {
  background-color: #1d3557;
  transition: .3s ease-in-out;
}

button:active {
  box-shadow: none;
}